<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex text-center" id="navbarNav">
        <!-- <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul> -->

        <div class="col">
            <span [ngClass]="menuValue == 'home' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('home')">Home</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'us' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('us')">U.S.</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'politics' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('politics')" class="btn btn-lg">Politics</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'business' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('business')" class="btn btn-lg">Business</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'technology' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('technology')" class="btn btn-lg">Technology</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'science' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('science')" class="btn btn-lg">Science</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'sports' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('sports')" class="btn btn-lg">Sports</span>
        </div>
        <div class="col">
            <span [ngClass]="menuValue == 'arts' ? 'border border-dark' : ''" class="btn btn-lg" (click)="addNewItem('arts')" class="btn btn-lg">Arts</span>
        </div>
    </div>

    </div>
  </nav>
  <hr>
  <hr>